<div class="ef-main-content">
    <div class="ef-main-content__menu">
        <app-category-menu></app-category-menu>
    </div>
    <div class="ef-main-content__router-outlet">
        <mdui-tabs *ngIf="showShopTabMenu" value="products" full-width>
            <mdui-tab value="products" (click)="routeToPage('shop')">Products</mdui-tab>
            <mdui-tab *ngIf="user?.isFarmer" value="farmer-products" (click)="routeToPage('shop/farmer-products')">My Products</mdui-tab>
        </mdui-tabs>
        <mdui-tabs *ngIf="showProfileTabMenu" value="info" full-width>
            <mdui-tab value="info" (click)="routeToPage('profile/info')">Personal Info</mdui-tab>
            <mdui-tab value="orders" (click)="routeToPage('profile/orders')">Orders</mdui-tab>
            <mdui-tab value="events" (click)="routeToPage('profile/events')">Events</mdui-tab>
            <mdui-tab value="categories" (click)="routeToPage('profile/categories')">Categories</mdui-tab>
        </mdui-tabs>
        <router-outlet></router-outlet>
    </div>
    <div class="ef-main-content__popular">
        <app-most-popular></app-most-popular>
    </div>
</div>