<div class="ef-main-content">
    <div class="ef-main-content__menu">
        <app-category-menu></app-category-menu>
    </div>
    <div class="ef-main-content__router-outlet">
        <mdui-tabs value="products" full-width>
            <mdui-tab value="products" (click)="routeToHomePage()">Products</mdui-tab>
            <mdui-tab value="farmer-products" (click)="routeToFarmerPage()">My Products</mdui-tab>
        </mdui-tabs>
        <router-outlet></router-outlet>
    </div>
    <div class="ef-main-content__popular">
        <app-most-popular></app-most-popular>
    </div>
</div>