.ef-main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(var(--mdui-color-secondary-container));;
    color: rgb(var(--mdui-color-on-secondary-container));
}
