<div class="ef-admin-page" *ngIf="currentUser?.isAdmin">
    <mdui-button
    (click)="createUser()">
    Create User
    </mdui-button>
    <mdui-divider></mdui-divider>
    <app-admin-user-form *ngIf="isUserEditFormVisible" #editUserForm (userUpdated)="onUserUpdated($event)" (formClosed)="onFormClosed()"></app-admin-user-form>
    <div class="ef-admin-page__header">
        <p>Moderator</p>
        <p>Admin</p>
        <p>Active</p>
    </div>
    <app-admin-user-card  *ngFor="let user of users" [user]="user" (userUpdated)="onUserUpdated($event)" (editRequested)="onEditUser($event)" (openForm)="onFormOpened()"></app-admin-user-card>
    
</div>