<mdui-card variant="outlined" class="ef-add-product">
    <mdui-text-field label="ProductName" type="text" [value]="product?.name"
        (input)="createProduct('name',$event)"></mdui-text-field>
    <div class="ef-add-product__information">
        <div class="ef-add-product__information-units">
            <mdui-text-field variant="outlined" label="Amount" type="number" [value]="product?.stock"
                (input)="createProduct('stock',$event)"></mdui-text-field>
            <mdui-select variant="outlined" [value]="product?.unit" name="unit" (change)="createProduct('unit',$event)">
                <mdui-menu-item [value]="unit.KILOGRAM">{{ unit.KILOGRAM }}</mdui-menu-item>
                <mdui-menu-item [value]="unit.LITER">{{ unit.LITER }}</mdui-menu-item>
                <mdui-menu-item [value]="unit.PIECE">{{ unit.PIECE }}</mdui-menu-item>
            </mdui-select>
        </div>
        <mdui-text-field variant="outlined" label="Unit Price" type="fl" [value]="product?.unitPrice"
            (input)="createProduct('unitPrice',$event)"></mdui-text-field>

        <mdui-select variant="outlined" label="Category" [value]="categoryDropdownValue">
            <div class="ef-categories__editor-dropdown-options">
                <mdui-menu-item *ngFor="let category of categoriesForDropdown" [value]="category.id"
                    (click)="onCategoryClicked(category)">
                    {{ category.name }}
                </mdui-menu-item>
            </div>
        </mdui-select>
        <mdui-text-field variant="outlined" label="Image URL" type="text" [value]="product?.imageUrl"
            (input)="createProduct('description',$event)"></mdui-text-field>
        <mdui-button type="submit" [loading]="isProductCreated" (click)="saveProduct()">Add Product</mdui-button>
    </div>

</mdui-card>