.parent-container {
    display: flex;
    justify-content: space-between;  
    gap: 30px;               
  }
  
  .app-farmer-banner {
    flex: 1;                 
  }
  
  .app-farmer-add-product {
    flex: 1;                
  }
  