<mdui-card class="ef-order-card">
  <div class="ef-order-card__header">
    <div class="ef-order-card__title">
      <h3>Order ID: {{ order.id }}</h3>
    </div>
    <p>Order Date: {{ createdAt }}</p>
  </div>
  <mdui-divider></mdui-divider>
  <div class="ef-order-card__content">
    <div class="ef-order-card__products">
      <h4>Products</h4>
      <ul class="ef-product-list">
        <li>
          <div><strong>Name</strong></div>
          <div><strong>Quantity</strong></div>
          <div><strong>Price</strong></div>
        </li>
        <li *ngFor="let product of products">
          <div> {{ product.name }}</div>
          <div>{{ product.stock }}</div>
          <div>{{ product.unitPrice }}</div>
        </li>
      </ul>
    </div>
    <div class="ef-order-card__right-content">
      <mdui-select class="ef-order-card__state" variant="outlined" [value]="order.status"
        (change)="changeOrderStatus($event)" [disabled]="order.status === 'supplied' || order.status === 'rejected'">
        <mdui-menu-item [value]="status.IN_CART">In-cart</mdui-menu-item>
        <mdui-menu-item [value]="status.PENDING">Pending</mdui-menu-item>
        <mdui-menu-item [value]="status.ACCEPTED">Accepted</mdui-menu-item>
        <mdui-menu-item [value]="status.REJECTED">Rejected</mdui-menu-item>
        <mdui-menu-item [value]="status.CANCELLED">Canceled</mdui-menu-item>
        <mdui-menu-item [value]="status.SHIPPED">Shipped</mdui-menu-item>
        <mdui-menu-item [value]="status.SUPPLIED">Supplied</mdui-menu-item>
        <mdui-menu-item [value]="status.REFUNDED">Refunded</mdui-menu-item>
      </mdui-select>
      <div class="ef-order-card__order-price">
        <p><strong>Total Price:</strong> {{ getTotalPrice() }}</p>
      </div>
    </div>
  </div>


</mdui-card>