<mdui-card class="ef-admin-user-card">
    <div class="ef-admin-user-card__content">
        <div class="ef-admin-user-card__name">
            <h4>{{ user.name }}</h4>
            <h4>{{ user.surname }}</h4>

        </div>
        <div class="ef-admin-user-card__button">
            <!-- Role Toggle -->
            <mdui-button (click)="toggleModerator()">
                <ng-container *ngIf="user['isModerator']">Remove Mod</ng-container>
                <ng-container *ngIf="!user['isModerator']">Make Mod</ng-container>
            </mdui-button>
        </div>
    </div>
</mdui-card>