<div class="ef-app">
    <div class="ef-app__header">
        <app-main-header></app-main-header>
    </div>
    <div class="ef-app__content">
        <app-main-content></app-main-content>
    </div>
    <div class="ef-app__footer">
        <app-main-footer></app-main-footer>
    </div>
</div>

<mdui-snackbar class="ef-app__error-snackbar" closeable placement="top" [open]="error">
    <h3>{{ error?.status }}</h3>
    <p>{{ error?.message }}</p>
    <mdui-button-icon slot="close-button">
        <i class="ri-close-circle-line"></i> 
    </mdui-button-icon>
</mdui-snackbar>

<app-loading-overlay></app-loading-overlay>
