<mdui-card class="ef-event-card">
    <div class="ef-event-card__header">
        <div class="ef-event-card__title">
            <mdui-button-icon
                [selected]="event.isLikedByLoggedUser"
                selectable icon="favorite_border"
                (click)="onLikeEvent()"
            >
                <i class="ri-heart-line"></i>
                <i slot="selected-icon" class="ri-heart-fill"></i>
            </mdui-button-icon>
            <h3>{{ event.name }}</h3>
        </div>
        <p>Created on: {{ createdAt }}</p>
    </div>
    <mdui-divider></mdui-divider>
    <div class="ef-event-card__body">
        <div class="ef-event-card__info">
            <i class="ri-calendar-event-line"></i>
            <p>{{ startsAt }} - {{ endsAt }}</p>
        </div>
        <div class="ef-event-card__info">
            <i class="ri-map-pin-line"></i>
            <p>{{ event.street }} {{ event.streetNumber }}, {{ event.zipCode }}, {{ event.city }}, {{ event.state }}</p>
        </div>
        <p>{{ event.description }}</p>
    </div>
</mdui-card>