<div class="ef-products">
    <mdui-card variant="elevated" class="ef-products__filters">
        <div class="ef-products__filters-content">
            <div class="ef-products__search">

                <mdui-text-field type="text" variant="outlined" label="Search" [value]="searchQuery"
                    (input)="onSearchChange($event)"></mdui-text-field>

                <mdui-select variant="outlined" label="Farm" [value]="farmDropdownValue">
                    <div class="ef-products__dropdown-farmers">
                        <mdui-menu-item *ngFor="let farm of farmsForDropdown" [value]="farm.id"
                            (click)="onFarmClicked(farm)">
                            {{ farm.farmName }}
                        </mdui-menu-item>
                    </div>
                </mdui-select>

            </div>
            <div class="ef-products__filters-buttons">
                <p>Sort by:</p>
                <mdui-segmented-button-group selects="multiple">
                    <mdui-segmented-button value="cheapest" (click)="sortProducts('unitPrice', 'asc')">Cheapest</mdui-segmented-button>
                    <mdui-segmented-button value="expensive" (click)="sortProducts('unitPrice', 'desc')">Most Expensive</mdui-segmented-button>
                    <mdui-segmented-button value="reviews" (click)="sortProducts('rating', 'desc')">Reviews</mdui-segmented-button>
                </mdui-segmented-button-group>
            </div>
        </div>
    </mdui-card>
    <div class="ef-products__category-name">
        <h3 *ngIf="categoryName">
            {{ categoryName }}
        </h3>
    </div>
    <div class="ef-products__farmer-banner" *ngIf="Banner">
        <app-farmer-banner *ngIf="farmerBanner" [farmer]="farmerBanner"></app-farmer-banner>
    </div>
    <div class="ef-products__products">
        <app-product-card *ngFor="let product of filteredProducts" [product]="product"></app-product-card>
    </div>
</div>