<h5 *ngIf="categoryName">
    {{ categoryName }}
</h5>
<h5 *ngIf="categoryName">
    {{ categoryName }}
</h5>

<mdui-card variant="elevated" class="ef-products__filters">
    <div class="ef-products__filters-content">
        <mdui-select variant="outlined" label="Farm" [value]="farmDropdownValue">
            <div class="ef-products__dropdown-farmers">
                <mdui-menu-item *ngFor="let farm of farmsForDropdown" [value]="farm.id" (click)="onFarmClicked(farm)">
                    {{ farm.farmName }}
                </mdui-menu-item>
            </div>
        </mdui-select>
          
        <div class="ef-products__filters-buttons">
            <mdui-button (click)="sortProducts('unitPrice', 'asc')">Cheapest</mdui-button>
            <mdui-button (click)="sortProducts('unitPrice', 'desc')">Most Expensive</mdui-button>
            <mdui-button (click)="sortProductsByRating()">Sort by Best Reviews</mdui-button>


            <div class="ef-products__filters-price">
                <label for="priceRange">Price Range: {{ priceRange[0]}} - {{ priceRange[1]}}</label>
                <mdui-range-slider [(ngModel)]="priceRange" [min]="0" [max]="maxPrice" [step]="1"
                    (input)="onPriceChange($event.target)">
                </mdui-range-slider>
            </div>
        </div>
    </div>
</mdui-card>


<div class="ef-products">
    <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
</div>