<div class="ef-categories__column">
    <h2>Create New Category Request</h2>
    <mdui-card variant="outlined">
        <mdui-text-field
            required
            label="Name"
            type="text"
            [value]="newCategoryRequest?.newCategoryName"
            (input)="changeNewCategoryRequest('newCategoryName', $event)"
        ></mdui-text-field>
        <div class="ef-categories__editor ef-categories__column">
            <mdui-select
                variant="outlined"
                label="Parent Category"
                [value]="categoryDropdownValue"
            >
            <div class="ef-categories__editor-dropdown-options">
                <mdui-menu-item
                    *ngFor="let category of categoriesForDropdown"
                    [value]="category.id"
                    (click)="changeNewCategoryRequest('parentCategoryId', $event)"
                >
                    {{ category.name }}
                </mdui-menu-item>
            </div>
            </mdui-select>
            <div *ngFor="let atribute of categoryAtributes" class="ef-categories__editor-atribute-row">
                <mdui-text-field
                    required
                    variant="outlined"
                    label="Atribute Name"
                    type="text"
                    [value]="atribute.name"
                    (input)="changeAtribute(atribute, 'name', $event)">
                </mdui-text-field>
                <mdui-select
                    required
                    variant="outlined"
                    label="Atribute Type"
                    [value]="atribute.type"
                    (change)="changeAtribute(atribute, 'type', $event)">
                    <mdui-menu-item value="text">Text</mdui-menu-item>
                    <mdui-menu-item value="number">Number</mdui-menu-item>
                    <mdui-menu-item value="boolean">Boolean</mdui-menu-item>
                </mdui-select>
                <mdui-checkbox
                    [checked]="atribute.isRequired"
                    (change)="changeAtribute(atribute, 'isRequired', $event)">
                    Required
                </mdui-checkbox>
                <mdui-button-icon (click)="deleteAtribute(atribute)">
                    <i class="ri-delete-bin-6-line"></i>
                </mdui-button-icon>
            </div>
            <mdui-button
                style="width: 100%;"
                (click)="createNewAtribute()">
                Create New Atribute
            </mdui-button>
            <mdui-button
                style="width: 100%;"
                [loading]="isCreateRequestLoading"
                (click)="createRequest()"
                [disabled]="!isFormValid">
                Create Request
            </mdui-button>
        </div>
    </mdui-card>
    <h2>New Category Requests</h2>
    <app-category-request-card
        *ngFor="let categoryRequest of newCategoryRequests"
        [categoryRequest]="categoryRequest"
        [parentCategoryName]="getParentCategoryName(categoryRequest.parentCategoryId)"
    ></app-category-request-card>
</div>