.ef-category-request-card {
    padding: 1rem;
    width: 100%;
    background-color: rgb(var(--mdui-color-surface-container));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

    h3 {
        margin: 0;
    }
}

.ef-category-request-card__row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ef-category-request-card__state {
    width: 30%;
}

.ef-category-request-card__state-indicator {
    width: 1rem;
    align-self: stretch;
}

.ef-category-request-card__state-indicator--pending {
    background-color: rgb(var(--mdui-color-on-surface));
}

.ef-category-request-card__state-indicator--approved {
    background-color: rgb(var(--mdui-color-primary-container));
}

.ef-category-request-card__state-indicator--rejected {
    background-color: rgb(var(--mdui-color-error-container));
}
