<mdui-card variant="elevated" class="ef-farmer-banner">

    <h1>{{ farmer.farmName }}</h1>
    <p>{{ farmer.description }}</p>
    <div class="ef-farmer-banner__contact">
        <mdui-icon>email</mdui-icon>
        <p>{{ user?.email }}</p>
    </div>
    <div class="ef-farmer-banner__contact">
        <mdui-icon>phone</mdui-icon>
        <p>{{ user?.phone }}</p>
    </div>
    <div class="ef-farmer-banner__contact">
        <mdui-icon>location_on</mdui-icon>
        <p>{{ user?.street }} {{user?.streetNumber}}, {{user?.city}}, {{user?.state}}</p>
    </div>
    
</mdui-card>