<mdui-collapse style="flex-grow: 1" *ngIf="category.children != null">
    <mdui-collapse-item *ngFor="let subCategory of category.children" trigger=".trigger" [value]="subCategory.id">
        <mdui-list-item slot="header">
            <a style="color: rgb(var(--mdui-color-on-surface)); text-decoration: none" [routerLink]="'/shop/'+subCategory.name.toLowerCase()">{{subCategory.name}}</a>
            <mdui-icon *ngIf="subCategory.children != null" class="trigger" slot="end-icon" name="keyboard_arrow_down"></mdui-icon>
        </mdui-list-item>
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div style="width: 2px; background-color: rgb(var(--mdui-color-primary)); margin-right: 5px"></div>
            <div style="flex-grow: 1;">
                <app-category-menu-item [category]="subCategory"></app-category-menu-item>
            </div>
        </div>
    </mdui-collapse-item> 
</mdui-collapse>
