<mdui-card class="ef-order-card">
    <div class="ef-order-card__header">
        <div class="ef-order-card__title">
            <h3>Order Number: {{ order.orderNumber }}</h3>
        </div>
        <p>Order Date: {{ createdAt }}</p>
    </div>
    <app-order-card-review></app-order-card-review>
    <mdui-divider></mdui-divider>
    <div class="ef-order-card__content">
        <div class="ef-order-card__products">
            <h4>Products</h4>
            <ul class="ef-product-list">
                <li>
                    <div><strong>Name</strong></div>
                    <div><strong>Quantity</strong></div>
                    <div><strong>Price</strong></div>
                    <div><strong>Rating</strong></div>
                </li>
                <li *ngFor="let product of productsWithQuantity">
                    <div> {{ product.product.name }}</div>
                    <div>{{ product.quantity }}</div>
                    <div>{{ getProductTotalPrice(product.product, product.quantity) }}</div>
                    <input *ngIf="product.review" class="ef-order-card__rating-input" min="0" max="5" type="number" [(ngModel)]="product.review.rating" (change)="updateProductRating(product.review)">
                </li>
            </ul>
        </div>
        <mdui-divider></mdui-divider>
        <div class="ef-order-card__order-price">
            <p><strong>Total Price:</strong> {{ getTotalPrice() }}</p>
        </div>
        <mdui-divider></mdui-divider>
        <div class="ef-order-card__content-under">
            <div class="ef-order-card__update">
                <strong>Updated At:</strong>
                {{ updatedAt}}
            </div>
            <div class="ef-order-card__state">
                <strong>Status:</strong>
                <mdui-card variant="filled">
                    {{ order.status }}
                </mdui-card>
            </div>
        </div>
    </div>


</mdui-card>