.ef-personal-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ef-personal-info__user {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ef-personal-info__farmer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ef-personal-info__row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}