.ef-product-card {
    width: 15rem;
    height: 30rem;
    background-color: rgb(var(--mdui-color-surface-container));
}

.ef-product-card__image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.ef-product-card__content {
    height: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.ef-product-card__actions {
    display: flex;
    align-self: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  

