<div class="ef-main-header">
    <a routerLink="shop">
        <span class="ef-main-header__logo">
            E-FARM
        </span>
    </a>

    <mdui-tooltip *ngIf="user == null" content="Log In">
        <mdui-button-icon (click)="openLoginDialog()">
            <i class="ri-login-circle-line"></i>
        </mdui-button-icon>
    </mdui-tooltip>

    
    <div *ngIf="user != null" class="ef-main-header__buttons">
        <mdui-tooltip content="Log Out">
            <mdui-button-icon (click)="logOut()">
                <i class="ri-logout-circle-line"></i>
            </mdui-button-icon>
        </mdui-tooltip>  
        <a routerLink="profile/info">
            <mdui-tooltip [content]="user.name + ' ' + user.surname">
                <mdui-button-icon>
                    <i class="ri-account-circle-line"></i>
                </mdui-button-icon>
            </mdui-tooltip>
        </a>
        <a routerLink="shopping-cart">
            <mdui-tooltip content="Shopping Cart">
                <mdui-button-icon>
                    <i class="ri-shopping-cart-2-line"></i>
                </mdui-button-icon>
            </mdui-tooltip>
        </a>
        <a routerLink="admin-page" *ngIf="user?.isAdmin">
            <mdui-tooltip content="Admin Tools">
                <mdui-button-icon>
                    <i class="ri-tools-line"></i>
                </mdui-button-icon>
            </mdui-tooltip>
        </a>
    </div>
</div>

<app-login-dialog #loginDialog></app-login-dialog>
