.ef-main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(var(--mdui-color-primary-container));
}

.ef-main-header__logo {
    color: rgb(var(--mdui-color-on-primary-container));
}

.ef-main-header a {
    text-decoration: none;

}

.ef-main-header__search {
    width: 50%;
}

.ef-main-header__buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.ef-main-header__buttons i {
    color: rgb(var(--mdui-color-on-primary-container));
}

