<div class="ef-main-header">
    <span class="ef-main-header__logo">
        E-FARM
    </span>
    <div class="ef-main-header__buttons">
        <a routerLink="profile/info">
            <mdui-button-icon>
                <i class="ri-account-circle-line"></i>
            </mdui-button-icon>
        </a>
        <a routerLink="">
            <mdui-button-icon>
                <i class="ri-shopping-cart-2-line"></i>
            </mdui-button-icon>
        </a>
        <a routerLink="">
            <mdui-button-icon >
                <i class="ri-tools-line"></i>
            </mdui-button-icon>
        </a>
    </div>
</div>
